@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* custom tailwind css */
@layer utilities {
  .heroButton {
    @apply border-2 border-yellow-100 animate-bounce hover:animate-none font-semibold py-2 px-4  text-xs md:text-sm rounded-full hover:bg-white hover:text-black duration-500;
  }
  .rightButton {
    @apply fixed right-0 m-5 border-2 border-slate-300 duration-300 hover:bg-slate-100 hover:text-black   cursor-pointer p-2;
  }
}

/* custom-scrollbar.css */
/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}

/* For Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

html::-moz-scrollbar {
  width: 10px;
}

html::-moz-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
}

html::-moz-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
